body {
	background-image: url("../assets/background.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main {
	box-shadow: 0 0 30px black;
	padding: 5vh;
	width: 90%;
	margin: -30px 5% 0 5%;
	min-height: 100vh;
}

h1 {
	font-family: Impact;
}

#login, #register {
	background-color: rgba(255,255,255,0.7);
	padding: 20px 60px 60px 60px;
	border-radius: 10px;
	margin-top: 10%;
	box-shadow: 0 20px 50px black;
}

#headerIcon {
	width: 50px;
	height: 50px;
}

.btn:focus {
	outline: 0;
}

.uiButton {
	font-family:arial, helvetica, sans-serif; 
	width: 100%;
	border: 1px solid black;
	background-image: -webkit-linear-gradient(top, #777777, #212121);
	background-image: -moz-linear-gradient(top, #777777, #212121);
	background-image: -ms-linear-gradient(top, #777777, #212121);
	background-image: -o-linear-gradient(top, #777777, #212121);
	background-image: linear-gradient(to bottom, #777777, #212121);
	color: white;
	font-weight: 600;
	text-shadow: -1px 0 0 #000,
				 0 -1px 0 #000,
				 -1px 0 0 #000,
				 0 1px 0 #000; 
}

#lightBtn {
	color: black;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top, #DDD, #888);
	background-image: -moz-linear-gradient(top, #DDD, #888);
	background-image: -ms-linear-gradient(top, #DDD, #888);
	background-image: -o-linear-gradient(top, #DDD, #888);
	background-image: linear-gradient(to bottom, #DDD, #888);
}

.uiButton:hover, #loginBtn:hover {
	 background-image: -webkit-linear-gradient(top, #212121, #111);
	 background-image: -moz-linear-gradient(top, #212121, #111);
	 background-image: -ms-linear-gradient(top, #212121, #111);
	 background-image: -o-linear-gradient(top, #212121, #111);
	 background-image: linear-gradient(to bottom, #212121, #111);
	 color:white;
}

#chatHeader {
	color: white;
	font-size: 60px;
	margin: 0;
	padding: 20px;
	width: 32%;
	margin: -40px 0 -40px 34%;
	border-radius: 10px;
}

h3, label {
	color: white;
}

#online {
	width: 100%;
	height: 600px;
	border: 1px solid #CCC;
	border-radius: 5px;
	overflow: auto;
	background-color: rgba(255,255,255,0.7);
}

#onlineUser {
	padding: 10px;
	height: 50px;
	font-weight: 700;
	font-size: 20px;
	border: 1px solid #AAA;
	background-color: white;
}

.roomJoin {
	float: right;
	margin-top: -3px;
	width: 14vw;
	font-size: 1vw;
}

#chat {
	width: 100%;
	height: 505px;
	border: 1px solid #CCC;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.7);
}

.messageRow {
	margin-bottom: 20px;
}

.userIcon {
	margin-left: 3%;
}

.sender {
	margin-top: -20px;
}

.message {
	margin-left: -3%;
	padding: 10px;
	border: 1px solid #212121;
	border-radius: 10px;
	max-width: 50%;
	height: auto;
	box-shadow: 5px 5px 10px #888;
	margin-right: 50%;
	word-wrap: break-word;
	position: relative;
	background: #FFF;
	border: 1px solid #000;
}

.message:after, .message:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
}

.message:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #FFF;
	border-width: 10px;
	margin-top: -10px;
}

.message:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000;
	border-width: 11px;
	margin-top: -11px;
}

.curUser {
	margin-left: 68%;
	width: 100%;
	box-shadow: -5px 5px 10px #888;
	position: relative;
	background: #CCE;
	border: 1px solid #000;
}

.curUser:after, .curUser:before {
	left: 100%;
	top: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.curUser:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #CCE;
	border-width: 10px;
	margin-top: -10px;
}
.curUser:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000;
	border-width: 11px;
	margin-top: -11px;
}

#messageInput {
	height: 50px;
}

#messageForm {
	width: 100%;
	min-height: 100px;
	max-height: 200px;
}